.root {
    -fx-background-color: #f3f5f7;
    -fx-font-family: "Segoe UI";
}

.dialog-container {
    -fx-padding: 14;
}

.label {
    -fx-padding: 10 14;
}

.user-message {
    -fx-background-color: #316fea;
    -fx-background-radius: 14 14 2 14;
    -fx-text-fill: white;
}

.orbit-message {
    -fx-background-color: white;
    -fx-background-radius: 14 14 14 2;
    -fx-text-fill: #202124;
}
